{% load static %}
<div class="course-student-header rounded">
    <div class="container">
        <div class="student-group">
            <div class="course-group ">
                <div class="course-group-img d-flex">
                    <a href="#!"><img src="{{ data.profile_image.url }}" alt="" class="img-fluid"></a>
                    <div class="d-flex align-items-center">
                        <div class="course-name">
                            <h4><a href="#!">{{ data.name }}</a></h4>
                            <p>Mitra</p>
                        </div>
                    </div>
                </div>
                <div class="course-share">
                    <a href="{% url 'app.mitra:mitra_profile' %}" class="btn btn-primary">Pengaturan Akun</a>
                </div>
            </div>
        </div>
        <div class="my-student-list">
            <ul>
                <li><a class="{% if request.path == '/mitra/dashboard/list-of-activity/' %} active{% endif %}"
                        href="{% url 'app.mitra:mitra_dashboard_activity_list' %}">Daftar Kegiatan</a></li>
            </ul>
        </div>
    </div>
</div>