{% extends "member/layout/base.html" %}
{% load static %}
{% block content %}
{% include 'partials/notify.html' %}

<div class="col-xl-9 col-md-8">

    <div class="settings-widget profile-details">
        <div class="settings-menu p-0">

            <div class="profile-heading subscription-group d-flex align-items-center">
                <div class="subscription-name">
                    <h3>Transaksi</h3>
                    <p>Kelola transaksimu disini.</p>
                </div>                
            </div>
            {% for transaction in transactions %}
            <div class="monthly-subscribtion comman-space border-line">
                <div class="monthly-group d-flex align-items-center">
                    <div class="subscribtion-active">
                        <div class="d-flex active-btns">
                            {% with status=transaction.transaction.status %}
                            {% if status == 'Menunggu Pembayaran' %}
                            <button type="button" class="btn btn-warning mb-2">{{ status }}</button>
                            {% elif status == 'Gagal' %}
                            <button type="button" class="btn btn-danger mb-2">{{ status }}</button>
                            {% elif status == 'Sukses' or status == 'Lunas' %}
                            <button type="button" class="btn btn-success mb-2">{{ status }}</button>
                            {% endif %}
                            {% endwith %}
                            {% if transaction.transaction.expired_at %}
                            <p id="remaining-time-{{ forloop.counter }}" class="fw-bold ms-2"></p>
                            <script>
                                function updateCountdownTimer(remainingTimeId, expiredAt) {
                                    var expiredDate = new Date(expiredAt);
                                    var now = new Date();
                                    var remainingTime = expiredDate - now;
                                    var minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
                                    var seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);
                                    var formattedTime = minutes + ":" + (seconds < 10 ? "0" : "") + seconds;
                                    $("#" + remainingTimeId).text(formattedTime);
                                    if (remainingTime <= 0) {
                                        $("#" + remainingTimeId).text("");
                                        clearInterval(interval);
                                        window.location.reload();                                        
                                    }
                                }
                                
                                var expiredAt{{ forloop.counter }} = "{{ transaction.transaction.expired_at.isoformat }}";
                                
                                var interval = setInterval(function() {
                                    updateCountdownTimer("remaining-time-{{ forloop.counter }}", expiredAt{{ forloop.counter }});
                                }, 1000);    
                            </script>
                            {% endif %}
                        </div>

                        <div class="col-lg-4 col-md-6 d-flex">
                            <div class="product-img">
                                <a href="#"><img src="{{ transaction.activity.activity_image.url }}" alt=""></a>
                            </div>
                        </div>

                        <div class="d-flex align-items-center mt-2">                                                    
                            <img src="{% static 'assets/img/icon/icon-24.svg' %}" alt="" class="img-fluid d-flex" style="max-width: 20%;">
                            <p class="fw-bold category">{{ transaction.activity.category|capfirst }}</p>                                            
                        </div>

                        <h5>{{ transaction.activity.activity_name }} </h5>
                        <p><b>Invoice:</b> {{ transaction.transaction.transaction_id }}</p>
                    </div>
                    <div class="active-change-plan grad-border hvr-sweep-to-right"> 
                        {% if transaction.transaction.expired_at %}
                        <script type="text/javascript"
                            src="{{ snap_js_url }}"
                            data-client-key="{{ client_key }}"></script>
                        <p class="fw-bold">Rp{{ transaction.transaction.total_price }}</p>
                        <a target="_blank" class="btn btn-primary" id="pay-button" onclick="confirmBuy('{{ transaction.transaction.transaction_id }}')" data-token="{{ transaction.transaction.token }}">Bayar</a>
                        <script>
                             function confirmBuy(transactionId) {
                                token = document.getElementById('pay-button').getAttribute('data-token');
                                window.snap.pay(token);
                                //  Swal.fire({
                                //     title: "Selesaikan pembayaran?",
                                //     text: "Kamu akan dialihkan ke Whatsapp admin untuk pembayaran!",
                                //     icon: "warning",
                                //     showCancelButton: true,
                                //     confirmButtonColor: "#3085d6",
                                //     cancelButtonColor: "#d33",
                                //     cancelButtonText: "Kembali",
                                //     confirmButtonText: "Lanjut!"
                                // }).then((result) => {
                                //     if (result.isConfirmed) {
                                //         var url = `{% url 'app.member:chat_to_pay' transaction_id='TRANSACTION_ID' %}`.replace('TRANSACTION_ID', transactionId);
                                //         window.open(url, '_blank');
                                //     }
                                // });
                            }
                        </script>
                        {% endif %}
                    </div>
                </div>
                <div class="month-plan-detail">
                    <div class="row">
                        <div class="col-xl-3 col-md-6 d-flex">
                            <div class="bill-widget d-flex align-items-center">
                                <div class="plan-icons">
                                    <i class="feather-calendar"></i>
                                </div>
                                <div class="bill-name-group">
                                    <h5>Pembelian</h5>
                                    <p>{{ transaction.transaction.date|date:"d F Y, H:i" }}</p>
                                </div>
                            </div>
                        </div>
                        {% comment %} <div class="col-xl-4 col-md-6 d-flex">
                            <div class="bill-widget d-flex align-items-center">
                                <div class="plan-icons">
                                    <i class="feather-credit-card"></i>
                                </div>
                                <div class="bill-name-group">
                                    <h5>Metode</h5>
                                    <p>{{ transaction.transaction.payment_method|capfirst }}</p>
                                </div>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
            {% endfor %}            
        </div>
    </div>

</div>

{% endblock %}