{% extends "mitra/layout/base.html" %}
{% load static %}
{% block content %}
{% include 'partials/notify.html' %}

<!-- Profile Details -->
<div class="col-xl-9 col-md-8">
    <div class="settings-widget profile-details">
        <div class="settings-menu p-0">
            <div class="profile-heading">
                <h3>Profile Details</h3>
                <p>Lengkapi informasi dirimu.</p>
            </div>
            <form action="{% url 'app.mitra:mitra_profile_update' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="course-group mb-0 d-flex">
                    <div class="course-group-img d-flex align-items-center">
                        <div class="course-name">
                            <h3>Logo</h3>
                            <p>PNG or JPG no bigger than 800px wide and tall.</p>
                        </div>
                    </div>
                    <div class="profile-share d-flex align-items-center justify-content-center">
                        <button type="submit" class="btn btn-success">Update</button>
                        <input type="file" name="profile_image" accept=".jpg, .jpeg, .png" />
                        <!-- <a href="javascript:;" class="btn btn-danger">Delete</a> -->
                    </div>
                </div>

                <div class="checkout-form personal-address add-course-info ">
                    <div class="personal-info-head">
                        <h4>Detail Informasi</h4>
                        <p>Edit your personal information and address.</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">Nama Mitra</label>
                                <input type="text" class="form-control" placeholder="Nama Mitra" name="name"
                                    value="{{ data.name }}">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">Nomor Whatsapp</label>
                                <input type="text" class="form-control" placeholder="Nomor Whatsapp" name="num_wa"
                                    value="{{ data.number }}">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">Email</label>
                                <input type="text" class="form-control" placeholder="example@example.com" name="email"
                                    value="{{ data.email }}">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">Alamat</label>
                                <input type="text" class="form-control" placeholder="Address" name="address"
                                    value="{{ data.address }}">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">Deskripsi Singkat</label>
                                <textarea class="form-control" name="description" id="description">{{ data.description }}</textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">Kota</label>
                                <input type="text" class="form-control" placeholder="Kota" name="city"
                                    value="{{ data.city }}">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">Jam Mulai Operasional</label>
                                <input type="time" class="form-control" name="start_time" value="{{ data.start_time }}">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label">Jam Tutup Operasional</label>
                                <input type="time" class="form-control" name="end_time" value="{{ data.end_time }}">
                            </div>
                        </div>
                        <div class="update-profile">
                            <button type="submit" class="btn btn-primary">Update Profile</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
</div>
<!-- Profile Details -->
{% endblock %}