APScheduler
asgiref
certifi
charset-normalizer
cloudinary
Django
django-cloudinary-storage
idna
# mysqlclient
packaging
Pillow
psycopg2-binary
pyotp
python-dotenv
pytz
requests
six
sqlparse
typing_extensions
tzdata
tzlocal
urllib3
whitenoise
