APScheduler
asgiref
certifi
charset-normalizer
cloudinary
Django
django-cloudinary-storage
django-debug-toolbar
idna
midtransclient
mysqlclient
packaging
Pillow
psycopg2-binary
pyotp
python-dotenv
python-memcached
pytz
requests
six
sqlparse
typing_extensions
tzdata
tzlocal
urllib3==1.26.6
whitenoise
