{% load static %}
<div class="col-xl-3 col-md-4 theiaStickySidebar">
    <div class="settings-widget dash-profile mb-3">
        <div class="settings-menu p-0">
            <div class="profile-bg">
                <div class="profile-img">
                    <a href="#!"><img src="{{ data.profile_image.url }}" alt=""></a>
                </div>
            </div>
            <div class="profile-group">
                <div class="profile-name text-center">
                    <h4><a href="#!">{{ data.name }}</a></h4>
                    <p>Member</p>
                </div>
                <div class="go-dashboard text-center">
                    <a href="{% url 'app.member:member_dashboard_activity' %}" class="btn btn-primary">Kegiatan Saya</a>
                </div>
            </div>
        </div>
    </div>        
    
    <div class="settings-widget account-settings">
        <div class="settings-menu">
            <h3>PENGATURAN AKUN</h3>
            <ul>
                <li class="nav-item {% if request.path == '/member/profile/' %} active{% endif %}">
                    <a href="{% url 'app.member:member_profile' %}" class="nav-link">
                        <i class="feather-settings"></i> Edit Profile
                    </a>
                </li>
                <li class="nav-item {% if request.path == '/member/security/' %} active{% endif %}">
                    <a href="{% url 'app.member:member_profile_security' %}" class="nav-link">
                        <i class="feather-user"></i> Keamanan
                    </a>
                </li>
                {% comment %} <li class="nav-item {% if request.path == '/member/del/profile/' %} active{% endif %}">
                    <a href="#!" class="nav-link">
                        <i class="feather-trash-2"></i> Hapus Akun
                    </a>
                </li> {% endcomment %}
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <i class="feather-power"></i> Keluar
                    </a>
                </li>
            </ul>
            <h3>HISTORI</h3>
            <ul>                
                <li class="nav-item {% if request.path == '/member/transactions/' %} active{% endif %}">
                    <a href="{% url 'app.member:transactions' %}" class="nav-link">
                        <i class="feather-credit-card"></i> Transaksi
                    </a>
                </li>
                {% comment %} <li class="nav-item">
                    <a href="#!" class="nav-link {% if request.path == '/member/invoice/' %} active{% endif %}">
                        <i class="feather-clipboard"></i> Invoice
                    </a>
                </li> {% endcomment %}
            </ul>
        </div>
    </div>					
</div>