{% load static %}
<div class="col-xl-3 col-md-4 theiaStickySidebar">
    <div class="settings-widget dash-profile mb-3">
        <div class="settings-menu p-0">
            <div class="profile-bg">
                <div class="profile-img">
                    <a href="#!"><img src="{{ data.profile_image.url }}" alt=""></a>
                </div>
            </div>
            <div class="profile-group">
                <div class="profile-name text-center">
                    <h4><a href="#!">{{ data.name }}</a></h4>
                    <p>Member</p>
                </div>
                <div class="go-dashboard text-center">
                    <a href="#!" class="btn btn-primary">Go to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="d-flex justify-content-center align-items-center mb-4">
        <a href="#!" class="btn btn-info" style="color: #ffffff;">Kegiatan saya</a>
    </div>
    
    <div class="settings-widget account-settings">
        <div class="settings-menu">
            <h3>ACCOUNT SETTINGS</h3>
            <ul>
                <li class="nav-item {% if request.path == '/member/profile/' %} active{% endif %}">
                    <a href="{% url 'user_pages:member_profile' %}" class="nav-link">
                        <i class="feather-settings"></i> Edit Profile
                    </a>
                </li>
                <li class="nav-item {% if request.path == '/member/password/' %} active{% endif %}">
                    <a href="{% url 'user_pages:member_profile_security' %}" class="nav-link">
                        <i class="feather-user"></i> Security
                    </a>
                </li>
                <li class="nav-item {% if request.path == '/member/del/profile/' %} active{% endif %}">
                    <a href="#!" class="nav-link">
                        <i class="feather-trash-2"></i> Delete Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <i class="feather-power"></i> Sign Out
                    </a>
                </li>
            </ul>
            <h3>HISTORY</h3>
            <ul>                
                <li class="nav-item {% if request.path == '/member/payment/' %} active{% endif %}">
                    <a href="#!" class="nav-link">
                        <i class="feather-credit-card"></i> Payment
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link {% if request.path == '/member/invoice/' %} active{% endif %}">
                        <i class="feather-clipboard"></i> Invoice
                    </a>
                </li>
            </ul>
        </div>
    </div>					
</div>