{% extends 'layout/base.html' %}
{% block content %}

<!-- 404 Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <i class="bi bi-megaphone-fill display-1 text-primary"></i>
                <!-- <h1 class="display-1">404</h1> -->
                <h1 class="mb-4">Coming Soon</h1>
                <p class="mb-4">Halaman yang anda cari masih dalam tahap pengembangan. Jadi, stay tune yaa.</p>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'home' %}">Kembali ke beranda</a>
            </div>
        </div>
    </div>
</div>
<!-- 404 End -->
{% endblock %}