{% load static %}
<div class="course-student-header rounded">
    <div class="container">
        <div class="student-group">
            <div class="course-group ">
                <div class="course-group-img d-flex">
                    <a href="#!"><img src="{{ data.profile_image.url }}" alt="" class="img-fluid"></a>
                    <div class="d-flex align-items-center">
                        <div class="course-name">
                            <h4><a href="#!">{{ data.name }}</a></h4>
                            <p>Member</p>
                        </div>
                    </div>
                </div>
                <div class="course-share">
                    <a href="{% url 'app.member:member_profile' %}" class="btn btn-primary">Pengaturan Akun</a>
                </div>
            </div>
        </div>
        <div class="my-student-list">
            <ul>
                <li><a class="{% if request.path == '/member/dashboard/activity/' %} active{% endif %}"
                        href="{% url 'app.member:member_dashboard_activity' %}">Kegiatan saya
                    </a>
                </li>
               
                <li><a href="{% url 'app.member:transactions' %}">Transaksi saya</a></li>
            </ul>
        </div>
    </div>
</div>