{% extends 'layout/base.html' %} {% load static %} {% block custom_css %}
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}" />
{% endblock %} {% block content %} {% include 'partials/navbar.html' %} 
{% include 'partials/notify.html' %}

<div class="container-form mt-2 mx-auto d-grid gap-3">
  <div class="form-header">
    <header class="text-center mb-2">Masuk</header>
    <p class="text-center fst-normal">
      Selamat datang <b>SkillUpKids</b>. Tempat belajar yang menyenangkan!
    </p>
    <hr />
  </div>

  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="form-registration">
      <div class="fields">
        <div class="input-box">
          <label>Email</label>
          <input type="text" placeholder="email@email.com" name="email" required />
        </div>

        <div class="input-box">
          <label>Password</label>
          <input type="password" id="password" placeholder="password" name="password" required />
          <i class="far fa-eye show-pw"></i>
        </div>

        <a href="#!" class="fs-6 fst-italic mb-4 mt-2">Forgot password?</a>

        <button class="submit mx-auto">
          <span class="btnText">Masuk</span>
          <i class="uil uil-navigator"></i>
        </button>
        <p class="mt-2">
          Belum punya akun?
          <a href="{% url 'register' %}" class="fw-bold">Daftar</a>
        </p>
      </div>
    </div>
  </form>
</div>

{% endblock %}
{% block custom_js %}
<script>
  const password = document.getElementById("password");
  const showPassword = document.querySelector(".show-pw");

  showPassword.addEventListener("click", () => {
    if (password.type === "password") {
      password.type = "text";
      showPassword.classList.replace("fa-eye-slash", "fa-eye");
    } else {
      password.type = "password";
      showPassword.classList.replace("fa-eye", "fa-eye-slash");
    }
  });
</script>
{% endblock %}