{% extends "layout/base.html" %}
{% load static %}
{% block content %}

<section class="master-skills-sec">
    <div class="container">
        <div class="header-two-title text-center" data-aos="fade-up">
            <p class="tagline">Meet & Greet</p>
            <h2>Pendiri SkillUpKids</h2>
            <div class="header-two-text" data-aos="fade-up">
                <p class="mb-0"> Di balik setiap perusahaan sukses, terdapat individu-individu visioner yang telah
                    mencurahkan dedikasi, inovasi, dan kepemimpinan untuk mewujudkan visi mereka. Pendiri kami adalah
                    sosok inspiratif yang memiliki peran penting dalam membentuk dan mengarahkan perjalanan perusahaan
                    ini sejak awal berdirinya.</p>
            </div>
        </div>
        <div class="knowledge-sec">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-sm-12 ps-0">
                        <img class="featured-img-1 rounded" src="{% static 'assets/img/profile/leader-1.jpg' %}"
                            alt="skillupkids-profile" data-aos="flip-left">
                    </div>
                    <div class="col-lg-12 col-sm-12" data-aos="fade-up">
                        <div class="joing-group">
                            <div class="section-title">
                                <h2>Sejarah SkillUpKids</h2>
                                <div class="joing-section-text">
                                    <p class="mb-0" style="text-align: justify;">SkillUpKids didirikan pada tahun 2023
                                        oleh sekelompok mahasiswa di
                                        bidang pendidikan dan teknologi yang memiliki visi untuk menciptakan platform
                                        yang dapat membantu anak-anak mengembangkan potensi mereka secara maksimal.
                                        Berawal dari keprihatinan akan kurangnya akses terhadap sumber daya pendidikan
                                        yang inovatif dan menyenangkan, SkillUpKids hadir dengan misi untuk memberikan
                                        solusi pembelajaran yang adaptif, menarik, dan efektif bagi anak-anak di seluruh
                                        Indonesia.</p>
                                </div>
                            </div>
                            <div class="joing-list" style="text-align: justify;">
                                <ul>
                                    <li data-aos="fade-bottom">
                                        <div class="joing-header">
                                            <span class="joing-icon bg-blue">
                                                <img src="{% static 'assets/img/icon/joing-01.svg' %}" alt="Img"
                                                    class="img-fluid">
                                            </span>
                                            <div class="joing-content">
                                                <h5 class="joing-title">Tetap termotivasi dengan instruktur yang menarik
                                                </h5>
                                                <div class="joing-para">
                                                    <p>SkillUpKids memilih instruktur-instruktur yang tidak hanya
                                                        memiliki pengalaman dalam bidang pendidikan anak-anak, tetapi
                                                        juga memiliki keahlian dalam membangun hubungan yang positif
                                                        dengan para siswa. Mereka adalah individu yang penuh semangat
                                                        dan inspiratif, mampu menghadirkan pembelajaran yang menarik dan
                                                        memotivasi.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li data-aos="fade-bottom">
                                        <div class="joing-header">
                                            <span class="joing-icon bg-yellow">
                                                <i class="fa-solid fa-people-group text-white fs-4"></i>
                                            </span>
                                            <div class="joing-content">
                                                <h5 class="joing-title">Komunitas</h5>
                                                <div class="joing-para">
                                                    <p>SkillUpKids tidak hanya fokus pada pembelajaran individu, tetapi
                                                        juga membangun komunitas pembelajar yang mendukung. Melalui
                                                        forum diskusi dan kegiatan kolaboratif, anak-anak dapat
                                                        berinteraksi, berbagi ide, dan belajar bersama teman-teman
                                                        sebaya mereka.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li data-aos="fade-bottom">
                                        <div class="joing-header">
                                            <span class="joing-icon bg-green">
                                                <img src="{% static 'assets/img/icon/joing-03.svg' %}" alt="Img"
                                                    class="img-fluid">
                                            </span>
                                            <div class="joing-content aos">
                                                <h5 class="joing-title">Kurikulum Berkualitas</h5>
                                                <div class="joing-para">
                                                    <p>Kurikulum yang digunakan di SkillUpKids dirancang oleh para ahli
                                                        pendidikan dan terus diperbarui untuk memastikan relevansi dan
                                                        kualitasnya. Program kami mencakup berbagai mata pelajaran inti
                                                        serta pengembangan keterampilan tambahan yang penting di era
                                                        digital.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="visi-misi"  data-aos="zoom-in-up">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center" style="color: #F66962;">VISI</h2>
        
                    <div class="notify-item">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-9">
                                <div class="notify-content">
        
                                    <p class="text-center">Menjadi pemimpin dalam revolusi pendidikan anak-anak di
                                        Indonesia dengan
                                        menyediakan platform inovatif yang memungkinkan setiap anak mengembangkan
                                        potensi mereka secara maksimal.</p>
        
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <h2 class="text-center" style="color: #F66962;">MISI</h2>
                    <div class="notify-item">
                        <div class="row align-items-center">
                            <div class="col-md-9">
                                <div class="notify-content">
                                    <ul>
                                        <li>Memberikan Akses Pendidikan Berkualitas</li>
                                        <li>Mendorong Pembelajaran Interaktif dan Menyenangkan</li>
                                        <li>Menyediakan Dukungan dan Pengakuan untuk Setiap Anak</li>
                                        <li>Menjadi Mitra Terpercaya bagi Orang Tua dan Pendidik</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
{% include 'partials/footer.html' %}
<!-- /Footer -->

{% endblock %}