{% extends "layout/base.html" %}
{% load static %}
{% block content %}

<!-- Home Banner -->
<section class="home-three-slide d-flex align-items-center">
	<div class="container">
		<div class="row ">
			<div class="col-xl-6 col-lg-8 col-md-12 col-12" data-aos="fade-down">
				<div class="home-three-slide-face">
					<div class="home-three-slide-text">
						<h5>SkillUpKids Indonesia</h5>
						<h1>Platform untuk Mengembangkan Potensi Anak Anda</h1>
						<p>Menciptakan Pintu-Pintu Kesuksesan dan
							Kebahagiaan yang Dibutuhkan oleh Anak-Anak Anda dalam Perjalanan Menuju Masa Depan yang
							Lebih Cemerlang.
						</p>
					</div>
					<div class="banner-three-content">
						<form class="form" action="{% url 'class_list' %}" method="get">
							<div class="form-inner-three">
								<div class="input-group">
									<input type="text" class="form-control"
										placeholder="Cari kegiatan atau kelas" name="keyword">
									<span class="drop-detail-three">
										<select class="form-three-select select" name="category">
											<option value="all" selected>Pilih Kategori</option>
											{% for items in category %}
											<option value="{{ items|lower }}">{{ items|capfirst }}</option>
											{% endfor %}  
										</select>
									</span>
									<button class="btn btn-three-primary sub-btn" type="submit"><i
											class="fas fa-arrow-right"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-4 col-md-6 col-12" data-aos="fade-up">
				<div class="girl-slide-img aos">
					<img class="img-fluid" src="{% static 'assets/img/slider/home-slider.png' %}" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Home Banner -->

<!-- Master skills Career -->
<section class="master-skill-three">
	<div class="master-three-vector">
		<img class="ellipse-right img-fluid" src="{% static 'assets/img/bg/pattern-01.png' %}" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-12" data-aos="fade-right">
				<div class="master-three-images">
					<div class="master-three-left">
						<img class="img-fluid" src="{% static 'assets/img/students/career.png' %}" alt="image-banner"
							title="image-banner">
					</div>
				</div>
			</div>

			<div class="col-xl-6 col-lg-6 col-md-12" data-aos="fade-left">
				<div class="home-three-head" data-aos="fade-up">
					<h2>Nikmati fasilitas yang kami berikan</h2>
				</div>
				<div class="home-three-content" data-aos="fade-up">
					<p>Alasan memilih SkillUpKids dibanding dengan yang lain.</p>
				</div>
				<div class="skils-group">
					<div class="row">
						<div class="col-lg-6 col-xs-12 col-sm-6" data-aos="fade-down">
							<div class="skils-icon-item">
								<div class="skils-icon">
									<img class="img-fluid" src="{% static 'assets/img/icon-three/career-01.svg' %}"
										alt="certified">
								</div>
								<div class="skils-content">
									<p class="mb-0">Banyak kegiatan yang dapat diikuti oleh anak-anak</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-xs-12 col-sm-6" data-aos="fade-up">
							<div class="skils-icon-item">
								<div class="skils-icon">
									<img class="img-fluid" src="{% static 'assets/img/icon-three/career-02.svg' %}"
										alt="Build skills">
								</div>
								<div class="skils-content">
									<p class="mb-0">SkillUpKids menciptakan pengalaman yang positif bagi semua anggota
										keluarga</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-xs-12 col-sm-6" data-aos="fade-right">
							<div class="skils-icon-item">
								<div class="skils-icon">
									<img class="img-fluid" src="{% static 'assets/img/icon-three/career-03.svg' %}"
										alt="Stay Motivated">
								</div>
								<div class="skils-content">
									<p class="mb-0">Memberikan kendali penuh kepada orang tua atas anak anda</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-xs-12 col-sm-6" data-aos="fade-left">
							<div class="skils-icon-item">
								<div class="skils-icon">
									<img class="img-fluid" src="{% static 'assets/img/icon-three/career-04.svg' %}"
										alt="latest cloud">
								</div>
								<div class="skils-content">
									<p class="mb-0">Kami mengutamakan kenyamanan dan keamanan dalam bertransaksi, anda
										tidak perlu khawatir tentang masalah keamanan</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Master skills Career -->

<!-- Courses -->
<section class="home-three-courses">
	<div class="container">
		<div class="favourite-course-sec">
			<div class="row">
				<div class="home-three-head section-header-title" data-aos="fade-up">
					<div class="row align-items-center d-flex justify-content-between">
						<div class="col-lg-6 col-sm-8">
							<h2>Kegiatan Terbaru</h2>
						</div>
						<div class="col-lg-6 col-sm-4">
							<div class="see-all">
								<a href="{% url 'class_list' %}">See all<span class="see-all-icon"><i
											class="fas fa-arrow-right"></i></span></a>
							</div>
						</div>
					</div>
				</div>

				<div class="all-corses-main">
					<div class="tab-content">						

						<div class="tab-content">

							<!-- All -->
							<div class="tab-pane fade active show" id="alltab" role="tabpanel">
								<div class="all-course">
									<div class="row">

										<!-- Col -->
										{% for item in new_activity %}
										<div class="col-xl-3 col-lg-6 col-md-6 col-12" data-aos="fade-up">
											<div class="course-box-three">
												<div class="course-three-item">
													<div class="course-three-img">
														<a href="{% url 'class_detail' id=item.activity.activity_id activity_name=item.activity.activity_name|slugify %}">
															<img class="img-fluid" alt=""
																src="{{ item.activity.activity_image.url }}">
														</a>
														<div class="heart-three">
															<a href="#!"><i class="fa-regular fa-heart"></i></a>
														</div>
													</div>
													<div class="course-three-content">
														<div class="course-group-three">
															<div class="group-three-img">
																<a href="#!"><img
																		src="{{ item.mitra.profile_image.url }}"
																		alt="" class="img-fluid"></a>
															</div>
														</div>

														<div class="course-three-text">
															<a href="{% url 'class_detail' id=item.activity.activity_id activity_name=item.activity.activity_name|slugify %}">
																<p>{{ item.activity.category|capfirst }}</p>
																<h3 class="title instructor-text">{{ item.activity.activity_name }}</h3>
															</a>
														</div>

														<div class="student-counts-info d-flex align-items-center">
															<div
																class="students-three-counts d-flex align-items-center">
																<img src="{% static 'assets/img/icon/user-icon.svg' %}"
																	alt="">
																{% with umur=item.activity.activity_informations.age %}
																	{% if 'semua' in umur|lower %}
																		<p>{{ item.activity.activity_informations.age }}</p>
																	{% else %}
																		<p>{{ item.activity.activity_informations.age }} tahun </p>
																	{% endif %}
																{% endwith %}
															</div>
														</div>

														<div
															class="price-three-group d-flex align-items-center justify-content-between justify-content-between">
															<div class="price-three-view d-flex align-items-center">
																<div class="course-price-three">
																	<h3>Rp{{ item.activity.activity_informations.price }}00</h3>
																</div>
															</div>
															<div
																class="price-three-time d-inline-flex align-items-center">
																<i class="fa-regular fa-clock me-2"></i>
																<span>{{ item.activity.activity_informations.duration }} menit</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										{% endfor %}
										<!-- /Col -->

									</div>
								</div>
							</div>
							<!-- /All -->

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- /Courses -->

<!-- Become An Instructor -->
<section class="home-three-become">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-8 col-md-8" data-aos="fade-up">
				<div class="become-content-three">
					<h2>Jadilah Mitra Kami</h2>
					<p>Bergabunglah dengan kami dan jadilah bagian dari perubahan yang kami ciptakan. Bersama-sama, kita bisa mencapai hasil yang luar biasa untuk masa depan yang lebih baik.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4" data-aos="fade-up">
				<div class="become-button-three">
					<a href="{% url 'app.mitra:login' %}" class="btn btn-become">Daftar Mitra</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Become An Instructor -->

<!-- Leading Companies -->
<section class="lead-companies-three">
	<div class="container">
		<div class="home-three-head section-header-title aos-init aos-animate">
			<div class="row align-items-center d-flex justify-content-between">
				<div class="col-lg-12" data-aos="fade-up">
					<h2>Telah dipercaya dan didukung oleh</h2>
				</div>
			</div>
		</div>
		<div class="m-0 p-0 lead-group aos" data-aos="fade-up">
			<div class="lead-group-slider owl-carousel owl-theme">
				<div class="item">
					<div class="lead-img">
						<img class="img-fluid" alt="" src="{% static 'assets/img/support/simbelmawa.png' %}">
					</div>
				</div>
				<div class="item">
					<div class="lead-img">
						<img class="img-fluid" alt="" src="{% static 'assets/img/support/kampus-merdeka.png' %}">
					</div>
				</div>
				<div class="item">
					<div class="lead-img">
						<img class="img-fluid" alt="" src="{% static 'assets/img/support/kemendikbud.png' %}">
					</div>
				</div>
				<div class="item">
					<div class="lead-img">
						<img class="img-fluid" alt="" src="{% static 'assets/img/support/pkm.png' %}">
					</div>
				</div>
				<div class="item">
					<div class="lead-img">
						<img class="img-fluid" alt="" src="{% static 'assets/img/support/ristekdikti.png' %}">
					</div>
				</div>
				<div class="item">
					<div class="lead-img">
						<img class="img-fluid" alt="" src="{% static 'assets/img/support/amikom.png' %}">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Leading Companies -->

<!-- Testimonial -->
<section class="testimonial-three">
	<div class="container">
		<div class="testimonial-pattern">
			<img class="pattern-left img-fluid" alt="" src="{% static 'assets/img/bg/pattern-05.svg' %}">
			<img class="pattern-right img-fluid" alt="" src="{% static 'assets/img/bg/pattern-06.svg' %}">
		</div>
		<div class="testimonial-three-content">
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-12 col-md-12" data-aos="fade-down">
					<div class="become-content">
						<h2 class="aos-init aos-animate">Apa yang mereka katakan</h2>
						<h4 class="aos-init aos-animate">Kami sangat senang mendengar apa yang orang tua katakan tentang pengalaman mereka dengan SkillUpKids. Mari kita lihat apa yang mereka katakan!</h4>
					</div>

					<!-- View all Testimonail -->
					<!-- <a href="instructor-profile.html" class="btn btn-action aos-init aos-animate"
						data-aos="fade-up">Lihat</a> -->
					<!-- View all Testimonail -->

				</div>
				<div class="col-xl-6 col-lg-12 col-md-12" data-aos="fade-down">
					<div class="swiper-testimonial-three">
						<div class="swiper-wrapper">

							<!-- Swiper Slide -->
							<div class="swiper-slide">
								<div class="testimonial-item-five">
									<div class="testimonial-quote">
										<img class="quote img-fluid" alt=""
											src="{% static 'assets/img/bg/quote.svg' %}">
									</div>
									<div class="testimonial-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas pretium
											feugiat tellus eget vitae sagittis id in. In in tempor ac dignissim at.
											Scelerisque sociis consequat sit dolor. Vitae donec porttitor risus tellus
											eget vitae sagittis id in. In in tempor ac dignissim at. Scelerisque sociis
											consequat </p>
									</div>
									<div class="testimonial-ratings">
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<p class="d-inline-block">4.5<span>ratings</span></p>
										</div>
									</div>
									<div class="testimonial-users">
										<div class="imgbx">
											<img class="img-fluid" alt=""
												src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
										</div>
										<div class="d-block">
											<h6>Jeff J. Sparrow</h6>
											<p>Designer</p>
										</div>
									</div>
								</div>
							</div>
							<!-- /Swiper Slide -->

							<!-- Swiper Slide -->
							<div class="swiper-slide">
								<div class="testimonial-item-five">
									<div class="testimonial-quote">
										<img class="quote img-fluid" alt=""
											src="{% static 'assets/img/bg/quote.svg' %}">
									</div>
									<div class="testimonial-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas pretium
											feugiat tellus eget vitae sagittis id in. In in tempor ac dignissim at.
											Scelerisque sociis consequat sit dolor. Vitae donec porttitor risus tellus
											eget vitae sagittis id in. In in tempor ac dignissim at. Scelerisque sociis
											consequat </p>
									</div>
									<div class="testimonial-ratings">
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<p class="d-inline-block">4.5<span>ratings</span></p>
										</div>
									</div>
									<div class="testimonial-users">
										<div class="imgbx">
											<img class="" alt="" src="{% static 'assets/img/profiles/avatar-01.jpg' %}">
										</div>
										<div class="d-block">
											<h6>Martin Harn</h6>
											<p>Docker Development</p>
										</div>
									</div>
								</div>
							</div>
							<!-- /Swiper Slide -->

							<!-- Swiper Slide -->
							<div class="swiper-slide">
								<div class="testimonial-item-five">
									<div class="testimonial-quote">
										<img class="quote img-fluid" alt=""
											src="{% static 'assets/img/bg/quote.svg' %}">
									</div>
									<div class="testimonial-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas pretium
											feugiat tellus eget vitae sagittis id in. In in tempor ac dignissim at.
											Scelerisque sociis consequat sit dolor. Vitae donec porttitor risus tellus
											eget vitae sagittis id in. In in tempor ac dignissim at. Scelerisque sociis
											consequat </p>
									</div>
									<div class="testimonial-ratings">
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star"></i>
											<p class="d-inline-block">4.8<span>ratings</span></p>
										</div>
									</div>
									<div class="testimonial-users">
										<div class="imgbx">
											<img class="" alt="" src="{% static 'assets/img/profiles/avatar-05.jpg' %}">
										</div>
										<div class="d-block">
											<h6>Noah Aarons</h6>
											<p>Business Man</p>
										</div>
									</div>
								</div>
							</div>
							<!-- /Swiper Slide -->


						</div>
						<div class="testimonial-bottom-nav">
							<div class="slide-next-btn testimonial-next-pre"><i class="fas fa-arrow-left"></i></div>
							<div class="slide-prev-btn testimonial-next-pre"><i class="fas fa-arrow-right"></i></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/Testimonial -->


<!-- Footer -->
{% include 'partials/footer.html' %}
<!-- /Footer -->

{% endblock %}