{% extends "layout/base.html" %} {% load static %} {% block content %}

<!-- Breadcrumb -->
<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h1 class="mb-0">Terms & Conditions</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Help Details -->
<div class="page-content">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="terms-content">
                    <div class="terms-text">
                        <h3>Selamat datang di SkillUpKids.id.</h3>
                        <p> Dengan menggunakan layanan kami, Anda setuju untuk mematuhi
                            dan terikat oleh Syarat dan Ketentuan ini. Syarat dan Ketentuan ini mengatur
                            penggunaan platform SkillUpKids.id oleh pengguna dan mitra kami.</p>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <ol type="A" class="type-A">
                                        <li class="mb-3"><a href="#definisi">Definisi</a></li>
                                        <li class="mb-3"><a href="#pendaftaran_akun">Pendaftaran dan Akun</a>
                                        </li>
                                        <li class="mb-3"><a href="#layanan">Penggunaan Layanan</a></li>
                                        <li class="mb-3"><a href="#komisi">Komisi dan Pembayaran</a></li>
                                        <li class="mb-3"><a href="#kebijakan_dan_pengembalian">Kebijakan
                                                Pembatalan dan Pengembalian Dana</a></li>
                                        <li class="mb-3"><a href="#kualitas_layanan">Kualitas Layanan dan
                                                Kepatuhan Mitra</a></li>
                                        <li class="mb-3"><a href="#tanggung_jawab">Tanggung Jawab dan
                                                Pembebasan</a></li>
                                        <li class="mb-3"><a href="#umpan_balik">Umpan Balik dan Resolusi
                                                Masalah</a></li>
                                    </ol>
                                </div>
                                <div class="col-md-6">
                                    <ol type="A" class="type-A" start="9">
                                        <li class="mb-3"><a href="#keamanan_dan_privasi">Keamanan dan
                                                Privasi</a>
                                        </li>
                                        <li class="mb-3"><a href="#konten_dan_HAKI">Konten dan Hak Kekayaan
                                                Intelektual</a></li>
                                        <li class="mb-3"><a href="#kewajiban">Kewajiban dan Tanggung Jawab</a>
                                        </li>
                                        <li class="mb-3"><a href="#perubahan_s&k">Perubahan Syarat dan
                                                Ketentuan</a></li>
                                        <li class="mb-3"><a href="#hukum">Hukum yang Berlaku</a></li>
                                        <li class="mb-3"><a href="#kontak">Kontak</a></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="terms-text" id="definisi">
                        <h3>A. Definisi</h3>
                        <ol type="1">
                            <li>Platform: Merujuk pada situs web dan aplikasi SkillUpKids.id.</li>
                            <li>Pengguna: Individu yang mendaftar dan menggunakan layanan yang disediakan oleh
                                platform.</li>
                            <li>Mitra: Penyedia kegiatan dan layanan non-akademik yang bekerja sama dengan
                                SkillUpKids.id.</li>
                            <li>Layanan: Kegiatan dan layanan non-akademik yang ditawarkan oleh mitra melalui
                                platform.</li>
                        </ol>
                        <a href="#" class="btn btn-outline-primary btn-sm rounded">Kembali ke atas</a>
                    </div>

                    <div class="terms-text" id="pendaftaran_akun">
                        <h3>B. Pendaftaran dan Akun</h3>
                        <ol type="1">
                            <li>Pengguna dan mitra harus mendaftar dan membuat akun untuk menggunakan platform.
                            </li>
                            <li>Informasi yang diberikan saat pendaftaran harus akurat dan terkini.</li>
                            <li>Pengguna dan mitra bertanggung jawab atas keamanan informasi akun mereka.</li>
                        </ol>
                        <a href="#" class="btn btn-outline-primary btn-sm rounded">Kembali ke atas</a>
                    </div>
                    <div class="terms-text" id="layanan">
                        <h3>Penggunaan Layanan</h3>
                        <ol type="1">
                            <li>Pengguna dapat mencari, mendaftar, dan membayar untuk kegiatan yang ditawarkan
                                oleh mitra melalui platform.</li>
                            <li>Mitra harus memastikan bahwa informasi tentang kegiatan yang ditawarkan akurat
                                dan up-to-date.</li>
                        </ol>
                        <a href="#" class="btn btn-outline-primary btn-sm rounded">Kembali ke atas</a>
                    </div>
                    <div class="terms-text" id="komisi">
                        <h3>Komisi dan Pembayaran</h3>
                        <ol type="1">
                            <li>SkillUpKids.id mengenakan komisi sebesar 10% dari setiap transaksi yang
                                dilakukan melalui platform.</li>
                            <li>Pembayaran kepada mitra akan dilakukan setelah dikurangi komisi dan biaya
                                administrasi lainnya, sesuai dengan jadwal pembayaran yang telah disepakati.
                            </li>
                        </ol>
                        <a href="#" class="btn btn-outline-primary btn-sm rounded">Kembali ke atas</a>
                    </div>
                    <div class="terms-text" id="kebijakan_dan_pengembalian">
                        <h3>Kebijakan Pembatalan dan Pengembalian Dana</h3>
                        <ol type="1">
                            <li>Pengguna dapat membatalkan pendaftaran kegiatan sesuai dengan kebijakan
                                pembatalan yang berlaku.</li>
                            <li>Pengembalian dana akan dilakukan sesuai dengan kebijakan pengembalian dana yang
                                telah ditetapkan oleh platform.</li>
                        </ol>
                        <a href="#" class="btn btn-outline-primary btn-sm rounded">Kembali ke atas</a>
                    </div>
                    <div class="terms-text" id="kualitas_layanan">
                        <h3>Kualitas Layanan dan Kepatuhan Mitra</h3>
                        <ol type="1">
                            <li>Mitra harus menyediakan layanan yang memenuhi standar kualitas yang telah
                                ditetapkan oleh SkillUpKids.id.</li>
                            <li>Mitra harus mematuhi semua peraturan dan perundang-undangan yang berlaku.</li>
                            <li>SkillUpKids.id berhak untuk menghentikan kerjasama dengan mitra yang tidak
                                memenuhi standar kualitas atau melanggar syarat dan ketentuan ini.</li>
                        </ol>
                        <a href="#" class="btn btn-outline-primary btn-sm rounded">Kembali ke atas</a>
                    </div>
                    <div class="terms-text" id="tanggung_jawab">
                        <h3>Tanggung Jawab dan Pembebasan</h3>

                        <ol type="1">
                            <li>SkillUpKids.id tidak bertanggung jawab atas kesalahan atau kelalaian yang
                                dilakukan oleh penyedia kegiatan.</li>
                            <li>Pengguna setuju untuk membebaskan SkillUpKids.id dari segala klaim, kerusakan,
                                atau kerugian yang timbul dari penggunaan platform atau layanan kami.</li>
                        </ol>
                        <a href="#" class="btn btn-outline-primary btn-sm rounded">Kembali ke atas</a>
                    </div>
                    <div class="terms-text" id="umpan_balik">
                        <h3>Umpan Balik dan Resolusi Masalah</h3>
                        <ol type="1">
                            <li>Pengguna dapat memberikan umpan balik tentang layanan yang diterima melalui
                                platform.</li>
                            <li>SkillUpKids.id akan menindaklanjuti umpan balik dan keluhan dengan serius dan
                                berusaha menyelesaikan masalah dengan cepat dan adil.</li>
                        </ol>
                        <a href="#" class="btn btn-outline-primary btn-sm rounded">Kembali ke atas</a>
                    </div>
                    <div class="terms-text" id="keamanan_dan_privasi">
                        <h3>Keamanan dan Privasi</h3>
                        <ol type="1">
                            <li>SkillUpKids.id berkomitmen untuk melindungi privasi dan keamanan data pengguna
                                dan mitra.</li>
                            <li>Informasi pribadi akan dikumpulkan, disimpan, dan digunakan sesuai dengan
                                kebijakan privasi kami.</li>
                        </ol>
                        <a href="#" class="btn btn-outline-primary btn-sm rounded">Kembali ke atas</a>
                    </div>
                    <div class="terms-text" id="konten_dan_HAKI">
                        <h3>Konten dan Hak Kekayaan Intelektual</h3>
                        <ol type="1">
                            <li>Semua konten yang disediakan di platform, termasuk tetapi tidak terbatas pada
                                teks, gambar, logo, dan desain, adalah milik SkillUpKids.id atau penyedia
                                kegiatan dan dilindungi oleh undang-undang hak cipta.</li>
                            <li>Pengguna tidak diizinkan untuk menyalin, memodifikasi, atau mendistribusikan
                                konten tanpa izin tertulis dari SkillUpKids.id atau pemilik hak cipta terkait.
                            </li>
                        </ol>
                        <a href="#" class="btn btn-outline-primary btn-sm rounded">Kembali ke atas</a>
                    </div>
                    <div class="terms-text" id="kewajiban">
                        <h3>Kewajiban dan Tanggung Jawab</h3>
                        <ol type="1">
                            <li>Pengguna dan mitra harus menggunakan platform dengan cara yang bertanggung jawab
                                dan tidak melanggar hukum.</li>
                            <li>SkillUpKids.id tidak bertanggung jawab atas kerugian atau kerusakan yang timbul
                                dari penggunaan platform.</li>
                        </ol>
                        <a href="#" class="btn btn-outline-primary btn-sm rounded">Kembali ke atas</a>
                    </div>
                    <div class="terms-text" id="perubahan_s&k">
                        <h3>Perubahan Syarat dan Ketentuan</h3>
                        <ol type="1">
                            <li>SkillUpKids.id berhak untuk mengubah syarat dan ketentuan ini kapan saja.</li>
                            <li>Perubahan akan diberitahukan melalui platform dan akan berlaku segera setelah
                                pemberitahuan.</li>
                        </ol>
                        <a href="#" class="btn btn-outline-primary btn-sm rounded">Kembali ke atas</a>
                    </div>
                    <div class="terms-text" id="hukum">
                        <h3>Hukum yang Berlaku</h3>
                        <ol type="1">
                            <li>Syarat dan Ketentuan ini diatur oleh dan ditafsirkan sesuai dengan hukum yang
                                berlaku di Indonesia.</li>
                            <li>Setiap perselisihan yang timbul dari atau terkait dengan syarat dan ketentuan
                                ini akan diselesaikan melalui mediasi terlebih dahulu sebelum dibawa ke
                                pengadilan.</li>
                        </ol>
                        <a href="#" class="btn btn-outline-primary btn-sm rounded">Kembali ke atas</a>
                    </div>
                    <div class="terms-text" id="kontak">
                        <h3>Kontak</h3>
                        <p class="fws-normal">Jika Anda memiliki pertanyaan tentang syarat dan ketentuan ini,
                            silakan hubungi kami di <a
                                href="mailto:skillupkidscontact@gmail.com">skillupkidscontact@gmail.com</a> atau
                            whatsapp ke 0857-2663-1291.</p>
                        <a href="#" class="btn btn-outline-primary btn-sm rounded">Kembali ke atas</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /Help Details -->

<!-- Footer -->
{% include 'partials/footer.html' %}
<!-- /Footer -->
{% endblock %}