{% load static %}


<footer class="footer">

    <!-- Footer Top -->
    <div class="footer-top aos" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="{% static 'assets/img/logo/logo.png' %}" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p class="fw-bold fst-italic">Platform Unggulan yang Memanfaatkan
                                Teknologi Terkini dan Inovasi untuk Membantu Anak Anda Meraih Potensi Terbaik Mereka.
                            </p>
                        </div>
                        <div class="social-icon-three my-2">
                            <a href="https://www.tiktok.com/@skillupkids" target="_blank" class="btn btn-dark me-2 rounded-circle"><i class="fab fa-tiktok"></i></a>
                            <a href="https://instagram.com/skillupkids.id" target="_blank" class="btn btn-dark me-2 rounded-circle"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-2 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Tentang</h2>
                        <ul>
                            <li><a href="{% url 'about' %}">Tentang Kami</a></li>
                            <li><a href="{% url 'contact' %}">Hubungi Kami</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-2 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">News & Events</h2>
                        <ul>
                            <li><a href="#!">Blog</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-4 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-contact">
                        <div class="footer-contact-info">
                            <div class="footer-address">
                                <img src="{% static 'assets/img/icon/icon-20.svg' %}" alt="" class="img-fluid">
                                <p>Jl. Ring Road Utara, Ngringin, Condongcatur, Kec. Depok, Kabupaten Sleman, Daerah
                                    Istimewa Yogyakarta</p>
                            </div>
                            <p>
                                <img src="{% static 'assets/img/icon/icon-19.svg' %}" alt="" class="img-fluid">
                                skillupkidscontact@gmail.com
                            </p>
                            <p class="mb-0">
                                <img src="{% static 'assets/img/icon/icon-21.svg' %}" alt="" class="img-fluid">
                                0822-5576-9655
                            </p>
                        </div>
                    </div>
                    <!-- /Footer Widget -->

                </div>

            </div>
        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">

            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6">
                        <div class="privacy-policy">
                            <ul>
                                <li><a href="term-condition.html">Terms</a></li>
                                <li><a href="privacy-policy.html">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="copyright-text">
                            <p class="mb-0">&copy; 2023 SkillUpKids. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Copyright -->

        </div>
    </div>
    <!-- /Footer Bottom -->

</footer>