{% load static %}
{% if request.session.customer_id|slice:":2" == 'mi' %}
{% url 'app.mitra:mitra_profile' as dynamic_url %}
{% elif request.session.customer_id|slice:":2" == 'me' %}
{% url 'app.member:member_profile' as dynamic_url %}
{% endif %}

<header class="header-page header-three">
    <div class="header-fixed-three header-fixed">
        <nav class="navbar navbar-expand-lg header-nav-three scroll-sticky">
            <div class="container">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="{% url 'home' %}" class="navbar-brand logo">
                        <img src="{% static 'assets/img/logo/logo.png' %}" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="{% url 'home' %}" class="menu-logo">
                            <img src="{% static 'assets/img/logo/logo.svg' %}" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="{% if request.path == '/' %} active{% endif %}">
                            <a href="{% url 'home' %}">Beranda</a>
                        </li>
                        <li class="{% if request.path == '/class-list/' %} active{% endif %}">
                            <a href="{% url 'class_list' %}">Daftar Kegiatan</a>
                        </li>
                        
                        <li class="has-submenu">
                            <a href="#">Menu <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu first-submenu">
                                {% comment %} <li><a href="{% url 'about' %}">Tentang Kami</a></li> {% endcomment %}
                                <li><a href="{% url 'blog' %}">Blog</a></li>
                                <li><a href="{% url 'contact' %}">Kontak</a></li>
                                {% if not request.session.customer_id %}
                                <li><a href="{% url 'app.mitra:login' %}">Masuk sebagai Mitra</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="login-link">
                            {% if request.session.customer_id %}
                            <span class="user-img mx-3 mt-3 mb-3">
                                <img src="{{ data.profile_image.url }}" alt="">
                                <span class="status online" style="color: #ffffff;">{{ data.name }}</span>
                                {% comment %} {% if request.session.customer_id|slice:":2" == 'me' %}
                                <a href="#!" class="mt-2"><img src="{% static 'assets/img/icon/cart.svg' %}" alt=""></a>
                                {% endif %} {% endcomment %}
                                <span class="d-grid gap-2 d-flex mt-3 fs-6">
                                    <a href="{{ dynamic_url }}" style="color: #ffffff;"
                                        class="btn btn-primary me-md-2"><i class="feather-user me-1"></i>Profile</a>
                                    <a href="{% url 'logout' %}" style="color: #ffffff;"
                                        class="btn btn-danger me-md-2"><i class="feather-log-out me-1"></i>Keluar</a>
                                    
                                </span>
                            </span>
                            {% else %}
                            <a href="{% url 'app.member:login' %}">Masuk</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>

                {% if request.session.customer_id %}
                <ul class="nav header-navbar-rht">
                    {% comment %} {% if request.session.customer_id|slice:":2" == 'me' %}
                    <li class="nav-item cart-nav me-2">
                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                            <img src="{% static 'assets/img/icon/cart.svg' %}" alt="img">
                        </a>
                        <div class="wishes-list dropdown-menu dropdown-menu-right">
                            <div class="wish-header">
                                <a href="#">View Cart</a>
                                <a href="javascript:void(0)" class="float-end">Checkout</a>
                            </div>
                            <div class="wish-content">
                                <ul>
                                    <li>
                                        <div class="media">
                                            <div class="d-flex media-wide">
                                                <div class="avatar">
                                                    <a href="#!">
                                                        <img alt=""
                                                            src="{% static 'assets/img/course/course-04.jpg' %}">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h6><a href="#!">Learn Angular...</a></h6>
                                                    <p>By Dave Franco</p>
                                                    <h5>$200 <span>$99.00</span></h5>
                                                </div>
                                            </div>
                                            <div class="remove-btn">
                                                <a href="#" class="btn">Remove</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="d-flex media-wide">
                                                <div class="avatar">
                                                    <a href="#!">
                                                        <img alt=""
                                                            src="{% static 'assets/img/course/course-14.jpg' %}">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h6><a href="#!">Build Responsive Real...</a></h6>
                                                    <p>Jenis R.</p>
                                                    <h5>$200 <span>$99.00</span></h5>
                                                </div>
                                            </div>
                                            <div class="remove-btn">
                                                <a href="#" class="btn">Remove</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="d-flex media-wide">
                                                <div class="avatar">
                                                    <a href="#!">
                                                        <img alt=""
                                                            src="{% static 'assets/img/course/course-15.jpg' %}">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h6><a href="#!">C# Developers Double ...</a></h6>
                                                    <p>Jesse Stevens</p>
                                                    <h5>$200 <span>$99.00</span></h5>
                                                </div>
                                            </div>
                                            <div class="remove-btn">
                                                <a href="#" class="btn">Remove</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="total-item">
                                    <h6>Subtotal : $ 600</h6>
                                    <h5>Total : $ 600</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %} {% endcomment %}

                    <li class="nav-item user-nav">
                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                            <span class="user-img">
                                <img src="{{ data.profile_image.url }}" alt="">
                                <span class="status online"></span>
                            </span>
                        </a>
                        <div class="users dropdown-menu dropdown-menu-right" data-popper-placement="bottom-end">
                            <div class="user-header">
                                <div class="avatar avatar-sm">
                                    <img src="{{ data.profile_image.url }}" alt="User Image"
                                        class="avatar-img rounded-circle">
                                </div>
                                <div class="user-text">
                                    <h6>{{ data.name }}</h6>
                                    <!-- <p class="text-muted mb-0">Student</p> -->
                                </div>
                            </div>
                            <a class="dropdown-item" href="{{ dynamic_url }}"><i class="feather-user me-1"></i>
                                Profile</a>
                            {% if request.session.customer_id|slice:":2" == 'me' %}
                            <a class="dropdown-item" href="{% url 'app.member:member_dashboard_activity' %}"><i class="feather-star me-1"></i> Kegiatan saya</a>
                            
                            {% elif request.session.customer_id|slice:":2" == 'mi' %}
                            <a class="dropdown-item" href="{% url 'app.mitra:mitra_dashboard_activity_list' %}"><i class="feather-star me-1"></i> Dashboard</a>
                            {% endif %}

                            <a class="dropdown-item" href="{% url 'logout' %}"><i class="feather-log-out me-1"></i>
                                Logout</a>
                        </div>
                    </li>
                </ul>

                {% else %}
                <ul class="nav header-navbar-rht align-items-center">
                    <li class="nav-item">
                        <a class="nav-link login-three-head button"
                            href="{% url 'app.member:login' %}"><span>Masuk</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link signin-three-head" href="{% url 'app.member:register' %}">Daftar</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </div>
</header>