{% extends 'member/auth/base-auth.html' %}
{% block title %}Login{% endblock %}
{% load static %}
{% block content %}
{% include 'partials/notify.html' %}

<div class="col-md-6 login-wrap-bg">

    <!-- Login -->
    <div class="login-wrapper">
        <div class="loginbox">
            <div class="w-100">
                <div class="img-logo">
                    <img src="{% static 'assets/img/logo.svg' %}" class="img-fluid" alt="Logo">
                    <div class="back-home">
                        <a href="{% url 'home' %}">Back to Home</a>
                    </div>
                </div>
                <h1>Masuk</h1>
                <form action="{% url 'app.member:login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="form-control-label">Email</label>
                        <input type="email" class="form-control" placeholder="Enter your email address" name="email" required>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Password</label>
                        <div class="pass-group">
                            <input type="password" class="form-control pass-input" placeholder="Enter your password" name="password" required>
                            <span class="feather-eye toggle-password"></span>
                        </div>
                    </div>
                    <div class="forgot">
                        <span><a class="forgot-link" href="#!">Forgot Password ?</a></span>
                    </div>
                    <div class="remember-me">
                        <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Remember me
                            <input type="checkbox" name="remember-me">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary btn-start" type="submit">Masuk</button>
                    </div>
                    <p class="mb-0 mt-4">Belum punya akun ? <a href="{% url 'app.member:register' %}" style="color: #FF875A;">Daftar</a></p>
                </form>
            </div>
        </div>        
    </div>
    <!-- /Login -->

</div>

</div>

</div>
<!-- /Main Wrapper -->
{% endblock %}