{% extends "mitra/dashboard/layout/base.html" %} {% load static %}
{% block main_content %} {% include 'partials/notify.html' %}

<section class="course-content">
    <div class="container">
        <div class="go-dashboard text-end mb-3">
            <a href="{% url 'app.mitra:mitra_create_new_activity' %}" class="btn btn-primary">Buat Kegiatan Baru</a>
        </div>
        <div class="student-widget">
            <div class="student-widget-group">
                <div class="row">
                    <div class="settings-inner-blk p-0">
                        <div class="comman-space pb-0">
                            <div class="instruct-search-blk">
                                <div class="show-filter choose-search-blk">
                                    <form id="form-category" action="{% url 'app.mitra:mitra_dashboard_activity_list' %}" method="get">
                                        <div class="row gx-2 align-items-center">
                                            <div class="col-md-6 col-item">
                                                <div class="search-group">
                                                    <i class="feather-search"></i>
                                                    <input type="text" class="form-control"
                                                    placeholder="Cari kegiatan atau kelas" name="keyword" value="{{ request.GET.keyword }}"/>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6 col-item">
                                                <div class="form-group select-form mb-0">
                                                    <select class="form-select select" id="sel1" name="status">
                                                        <option value="all" selected>All</option>
                                                        {% for status in activity_status %}
                                                        <option value="{{ status|lower }}" {% if status|lower == request.GET.status %}selected{% endif %}>{{ status|capfirst }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="settings-tickets-blk course-instruct-blk table-responsive">
                                <!-- Referred Users-->
                                <table class="table table-nowrap mb-2">
                                    <thead>
                                        <tr>
                                            <th>KEGIATAN</th>
                                            <th class="text-center">STATUS</th>
                                            <th class="text-center">KETERANGAN</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if data_activity|length == 0 %}
                                        <tr>
                                            <td colspan="3" class="text-center">Tidak ada data</td>
                                        </tr>
                                        {% else %}
                                            {% for items in data_activity %}

                                        <tr>
                                            <td>
                                                <div class="sell-table-group d-flex align-items-center">
                                                    <div class="sell-group-img">
                                                        <a href="#!">
                                                            <img src="{{ items.activity.activity_image.url }}"
                                                                class="img-fluid" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="sell-tabel-info">
                                                        <h5 class="fw-bold">
                                                            <h5 class="fw-bold"><a href="{% url 'class_detail' id=items.activity.activity_id activity_name=items.activity.activity_name|slugify %}">{{ items.activity.activity_name }}</a></h5>
                                                        </h5>
                                                        <div class="course-info d-grid border-bottom-0 pb-0">
                                                            <div class="rating-img d-flex align-items-center">
                                                                <img src="{% static 'assets/img/icon/user-icon.svg' %}"
                                                                    alt="" />
                                                                <p>
                                                                    {{ items.activity.activity_informations.age|capfirst }}
                                                                </p>
                                                                <img src="{% static 'assets/img/icon/timer-start.svg' %}"
                                                                    alt="" class="ms-2" />
                                                                <p>
                                                                    {{ items.activity.activity_informations.duration }}
                                                                    menit
                                                                </p>
                                                            </div>
                                                            <div class="rating-img d-flex align-items-center mt-2">
                                                                <img src="{% static 'assets/img/icon/icon-24.svg' %}"
                                                                    alt="" />
                                                                <p>{{ items.activity.category }}</p>
                                                                <img src="{% static 'assets/img/icon/date-icon.png' %}"
                                                                    alt="" class="ms-2" />
                                                                <p>{{ items.activity.activity_informations.day }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            {% with status=items.activity.activity_status.status %}

                                            <td class="text-center">
                                                <span
                                                    class="badge info-{% if status == 'pending' %}medium{% elif status == 'ditolak' %}high{% else %}low{% endif %}">{{ status|capfirst }}</span>
                                            </td>
                                            <td class="text-center">
                                                {{ items.activity.activity_status.message_status }}
                                            </td>

                                            {% endwith %}
                                        </tr>
                                        {% endfor %} {% endif %}
                                    </tbody>
                                </table>
                                <!-- /Referred Users-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}