{% extends "mitra/dashboard/layout/base.html" %} {% load static %}
{% block main_content %} {% include 'partials/notify.html' %}

<section class="course-content">
    <div class="container">
        <div class="go-dashboard text-end mb-3">
            <a href="{% url 'app.mitra:mitra_create_new_activity' %}" class="btn btn-primary">Buat Kegiatan Baru</a>
        </div>
        <div class="student-widget">
            <div class="student-widget-group">
                <div class="row">
                    <div class="settings-inner-blk p-0">
                        <div class="comman-space pb-0">
                                                        
                            <!-- List Activity -->
                            <div class="instruct-search-blk">
                                <div class="show-filter choose-search-blk">
                                    <form id="form-category" action="{% url 'app.mitra:mitra_dashboard_activity_list' %}" method="get">
                                        <div class="row gx-2 align-items-center">
                                            <div class="col-md-6 col-item">
                                                <div class="search-group">
                                                    <i class="feather-search"></i>
                                                    <input type="text" class="form-control"
                                                    placeholder="Cari kegiatan atau kelas" name="keyword" value="{{ request.GET.keyword }}"/>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6 col-item">
                                                <div class="form-group select-form mb-0">
                                                    <select class="form-select select" id="sel1" name="status">
                                                        <option value="all" selected>All</option>
                                                        {% for status in activity_status %}
                                                        <option value="{{ status|lower }}" {% if status|lower == request.GET.status %}selected{% endif %}>{{ status|capfirst }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="settings-tickets-blk course-instruct-blk table-responsive">
                                <!-- Referred Users-->
                                <table class="table table-nowrap mb-2">
                                    <thead>
                                        <tr>
                                            <th>KEGIATAN</th>
                                            <th class="text-center">STATUS</th>
                                            <th class="text-center">KETERANGAN</th>
                                            <th class="text-center">ACTIONS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if data_activity|length == 0 %}
                                        <tr>
                                            <td colspan="4" class="text-center">Tidak ada data</td>
                                        </tr>
                                        {% else %}
                                            {% for items in data_activity %}

                                        <tr>
                                            <td>
                                                <div class="sell-table-group d-flex align-items-center">
                                                    <div class="sell-group-img">
                                                        <a href="#!">
                                                            <img src="{{ items.activity.activity_image.url }}"
                                                                class="img-fluid" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="sell-tabel-info">
                                                        <h5 class="fw-bold">
                                                            <h5 class="fw-bold"><a href="{% url 'class_detail' id=items.activity.activity_id activity_name=items.activity.activity_name|slugify %}">{{ items.activity.activity_name }}</a></h5>
                                                        </h5>
                                                        <div class="course-info border-bottom-0 pb-0">                                                            
                                                            <div class="container-lg-8">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="rating-img d-flex align-items-center">
                                                                            <img src="{% static 'assets/img/icon/user-icon.svg' %}" alt="" />                                                                                                                                    
                                                                            {% with umur=items.activity.activity_informations.age %}
                                                                            {% if 'semua' in umur|lower or 'umur' in umur|lower %}
                                                                                <p>{{ items.activity.activity_informations.age|capfirst }}</p>
                                                                            {% else %}
                                                                                <p>{{ items.activity.activity_informations.age|capfirst }} tahun </p>
                                                                            {% endif %}
                                                                            {% endwith %}                                                                
                                                                            <img src="{% static 'assets/img/icon/timer-start.svg' %}"
                                                                                alt="" class="ms-2" />
                                                                            <p>
                                                                                {{ items.activity.activity_informations.duration }}
                                                                                menit
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col mt-2">
                                                                        <div class="rating-img d-flex align-items-center">
                                                                            <img src="{% static 'assets/img/icon/icon-24.svg' %}" alt="" />   
                                                                            <p>{{ items.activity.category|capfirst }}</p>                
                                                                            <img src="{% static 'assets/img/icon/date-icon.png' %}" alt="" class="ms-2" />
                                                                            <p>{{ items.activity.activity_informations.day }}</p>                                                                                                                                                                                            
                                                                        </div>
                                                                    </div>                                                                    
                                                                </div>                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            {% with status=items.activity.activity_status.status %}

                                            <td class="text-center">
                                                <span
                                                    class="badge info-{% if status == 'pending' %}medium{% elif status == 'ditolak' %}high{% else %}low{% endif %}">{{ status|capfirst }}</span>
                                            </td>
                                            <td class="text-center">
                                                {{ items.activity.activity_status.message_status }}
                                            </td>

                                            {% endwith %}
                                            <td class="text-center"> 
                                                <button class="btn btn-info btn-sm text-white btn-details m-1" onclick="show_member('{{ items.activity.activity_id }}', '{{ items.activity.activity_name }}')">Details</button>
                                                <button class="btn btn-warning btn-sm text-white">Edit</button>
                                            </td>
                                        </tr>
                                        {% endfor %} {% endif %}
                                    </tbody>
                                </table>
                                <!-- /Referred Users-->
                            </div>
                            	
                            <!-- List Member -->
                            {% if member_data %}
                            <script>
                                document.querySelector('.instruct-search-blk').style.display = 'none';
                                document.querySelector('.settings-tickets-blk').style.display = 'none';
                                
                                document.addEventListener("DOMContentLoaded", function () {
                                    document.querySelectorAll('.btn-details').forEach(function (button) {
                                        button.addEventListener('click', function () {
                                            var activity = button.getAttribute('data-id');
                            
                                            document.querySelector('.instruct-search-blk').style.display = 'none';
                                            document.querySelector('.settings-tickets-blk').style.display = 'none';
                            
                                            document.querySelector('#list-member-container').style.display = 'block';
                                        });
                                    });
                            
                                    document.querySelector('.btn-close-member').addEventListener('click', function () {
                                        document.querySelector('#list-member-container').style.display = 'none';
                            
                                        document.querySelector('.instruct-search-blk').style.display = 'block';
                                        document.querySelector('.settings-tickets-blk').style.display = 'block';
                                    });
                                });    
                            </script>                            
                            <div class="tak-instruct-group" id="list-member-container">
                                <div class="row">
                                    <div class="sell-course-head student-meet-head border-0 mb-4">
                                        <button class="mb-2 btn btn-danger btn-sm text-white btn-close-member"><i class="feather-x"></i></button>
                                        <div class="tak-head d-flex align-items-center">
                                            <div>
                                                <h3 id="title-member"></h3>
                                                <p>Daftar member yang terdaftar.</p>
                                            </div>                                                            
                                        </div>
                                        <form>
                                            <div class="student-search-form d-flex ">
                                                <div class="form-group mb-0">
                                                    <input type="text" class="form-control" placeholder="Nama Member">
                                                </div>
                                                <div class="export-cvv-btn">
                                                    <button class="btn btn-primary">Cari</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                            
                                    {% for items in member_data %}
                                    <div class="col-xl-4 col-lg-6 col-md-6 d-flex">
                                                <div class="student-box flex-fill">
                                                    <div class="student-box-blks">
                                                        
                                                        <div class="student-img">
                                                            <a href="#!">
                                                                <img class="img-fluid" alt="Students Info" src="{{ items.member.profile_image.url }}">
                                                            </a>
                                                        </div>
                                                        <div class="student-content pb-0">												
                                                            <h5><a href="#!">{{ items.member.name }}</a></h5>
                                                            <div class="loc-blk d-grid align-items-center justify-content-center">
                                                                <div class="d-flex align-items-center justify-content-center">                                                            
                                                                    <i class="feather-mail me-2"></i>
                                                                    <p>{{ items.member.email }}</p>
                                                                </div>
                                                                <div class="d-flex align-items-center justify-content-center">                                                            
                                                                    <i class="feather-phone me-2"></i>
                                                                    <p>{{ items.member.number }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="enrol-student-foot">
                                                        <ul>
                                                            <li>                                                            
                                                                <p>Terdaftar <b>{{ items.transaction.date|date:"d F Y" }}</b></p>
                                                            </li>
                                                            <li>
                                                                <a class="btn btn-wish w-100" onclick="chat_to_member('{{ items.member.number }}')">Hubungi</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                    </div>
                                    <script>
                                                document.querySelector('#title-member').innerHTML = '{{ items.activity.activity_name }}';
                                    </script>
                                    {% endfor %}                                       
                                </div>                    
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function chat_to_member(number) {
        var url = "{% url 'app.mitra:chat_to_member' number='WA_NUMBER' %}".replace('WA_NUMBER', number);
        window.open(url, '_blank');
    }
    function show_member(id, activity) {
        var url = "{% url 'app.mitra:mitra_dashboard_activity_list' activity_id='ACTIVITY_ID' activity_name='ACTIVITY_NAME' %}".replace('ACTIVITY_ID', id).replace('ACTIVITY_NAME', activity);
        window.location.href = url;
    }
</script>
{% endblock %}