{% extends "member/dashboard/layout/base.html" %}
{% load static %}
{% block main_content %}
{% include 'partials/notify.html' %}

<!-- Activity -->
<section class="course-content">
    <div class="container">
        <div class="student-widget">
            <div class="student-widget-group">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">                            
                            {% if not activities %}
                            <h5 class="text-center">Belum ada kegiatan yang diikuti</h5>
                            {% else %}
                            <h5 class="d-flex justify-content-center align-items-center mb-2" style="font-weight: 600;">Kegiatan Saya</h5>
                            {% for items in activities %}
                                <div class="course-box course-design list-course d-flex">
                                        <div class="product">
                                            <div class="product-img">
                                                <a href="{% url 'app.member:view_activity' id=items.activity.activity_id activity=items.activity.activity_name|slugify %}"><img class="img-fluid" alt="" src="{{ items.activity.activity_image.url }}"></a>
                                            </div>                                      
                                            <div class="product-content">
                                                <div class="head-course-title">
                                                    <a href="{% url 'app.member:view_activity' id=items.activity.activity_id activity=items.activity.activity_name|slugify %}"><h3 class="title">{{ items.activity.activity_name }}</h3></a>
                                                    <div class="all-btn all-category d-flex align-items-center">
                                                        <a id="chat-to-admin" class="btn btn-primary" onclick="chat_to_admin()">Chat Admin</a>
                                                    </div>
                                                </div>              
                                                <div class="col-lg-8">
                                                    <p class="fw-normal" style="font-size: smaller;">{{ items.activity.activity_informations.sub_description }}</p>
                                                </div>                              
                                                <div class="course-info border-bottom-0 pb-0 d-flex align-items-center">
                                                    <div class="rating-img d-flex align-items-center">
                                                        <img src="{% static 'assets/img/icon/user-icon.svg' %}" alt="">                                                        
                                                        {% with umur=items.activity.activity_informations.age %}
									                    {% if 'semua' in umur|lower or 'umur' in umur|lower %}
									                    	<p>{{ items.activity.activity_informations.age|capfirst }}</p>
									                    {% else %}
									                    	<p>{{ items.activity.activity_informations.age|capfirst }} tahun </p>
									                    {% endif %}
									                    {% endwith %}
                                                    </div>
                                                    <div class="course-view d-flex align-items-center">
                                                        <img src="{% static 'assets/img/icon/icon-02.svg' %}" alt="">
                                                        <p>{{ items.activity.activity_informations.duration|capfirst }} menit</p>
                                                    </div>
                                                    <div class="course-view d-flex align-items-center">
                                                        <img src="{% static 'assets/img/icon/icon-24.svg' %}" alt="" class="img-fluid d-flex" style="max-width: 30%;">
                                                        <p>{{ items.activity.category|capfirst }}</p>
                                                    </div>
                                                </div>                                            
                                                <div class="course-group d-flex mb-0">
                                                    <div class="course-group-img d-flex">
                                                        <img src="{{ items.mitra.profile_image.url }}" alt="" class="img-fluid">
                                                        <div class="course-name">
                                                            <h4>{{ items.mitra.name }}</h4>
                                                            <p>Mitra</p>
                                                        </div>
                                                    </div>
                                                    <div class="course-share d-flex align-items-center justify-content-center">
                                                        <a href="#rate"><i class="fa-regular fa-heart"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- Recommended Activity -->
    <div class="container">
        <div class="student-widget">
            <div class="student-widget-group">
                <h5 class="d-flex justify-content-center align-items-center mb-2" style="font-weight: 600;"><i
                        class="feather-zap me-1 rounded-circle fs-6 p-1"
                        style="color: #ffffff; background-color: #06D755;"></i>Rekomendasi Kegiatan</h5>
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Filter -->
                        <div class="showing-list">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="show-filter choose-search-blk">
                                        <form id="form-category" action="{% url 'app.member:member_dashboard_activity' %}" method="get">
                                            <div class="mycourse-student align-items-center">
                                                <div class="student-search">
                                                    <div class=" search-group">
                                                        <i class="feather-search"></i>
                                                        <input type="text" class="form-control"
                                                        placeholder="Cari kegiatan atau kelas" name="keyword" value="{{ request.GET.keyword }}">
                                                    </div>
                                                </div>
                                                <div class="student-filter">
                                                    <div class="form-group select-form mb-0">
                                                        <select class="form-select select" id="sel1" name="category">
                                                            <option value="all" selected>All</option>
                                                            {% for items in category %}
                                                            <option value="{{ items }}" {% if items == request.GET.category %}selected{% endif %}>{{ items|capfirst }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Filter -->

                        <div class="row">
                            {% for item in list_of_activity %}
                            <div class="col-xl-4 col-lg-4 col-md-6 d-flex">
                                <div class="course-box course-design d-flex ">
                                    <div class="product">
                                        <div class="product-img">
                                            <a href="{% url 'class_detail' id=item.activity.activity_id activity_name=item.activity.activity_name|slugify %}">
                                                <img class="img-fluid" alt="" src="{{ item.activity.activity_image.url }}">
                                            </a>
                                            <div class="price">
                                                {% with price=item.activity.activity_informations.price %}
                                                {% if price == 0 or price == '0' %}
                                                <h3 class="free-color">Gratis</h3>
                                                {% else %}
                                                <h3>Rp{{ price }}</h3>
                                                {% endif %}
                                                {% endwith %}
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="course-group d-flex">
                                                <div class="course-group-img d-flex">
                                                    <a href="#!"><img src="{{ item.mitra.profile_image.url }}"
                                                            alt="" class="img-fluid"></a>
                                                    <div class="course-name">
                                                        <h4><a href="#!">{{ item.mitra.name|capfirst }}</a></h4>                                                        
                                                    </div>
                                                </div>
                                                <div class="course-share d-flex align-items-center justify-content-center">
                                                    <a href="#rate"><i class="fa-regular fa-heart"></i></a>
                                                </div>
                                            </div>
                                            <div class="course-name d-flex align-items-center mb-2">                                                    
                                                <img src="{% static 'assets/img/icon/icon-24.svg' %}" alt="" class="img-fluid d-flex" style="max-width: 20%;">
                                                <p class="ms-2 fw-bold category my-auto">{{ item.activity.category|capfirst }}</p>                                            
                                            </div>
                                            <h3 class="title"><a href="{% url 'class_detail' id=item.activity.activity_id activity_name=item.activity.activity_name|slugify %}">{{ item.activity.activity_name }}</a></h3>
                                            <div class="course-info d-flex align-items-center border-bottom-0 pb-0">
                                                <div class="rating-img d-flex align-items-center">
                                                    <img src="{% static 'assets/img/icon/user-icon.svg' %}" alt="">                                                    
                                                    {% with umur=item.activity.activity_informations.age %}
									                {% if 'semua' in umur|lower or 'umur' in umur|lower %}
									                	<p>{{ item.activity.activity_informations.age|capfirst }}</p>
									                {% else %}
									                	<p>{{ item.activity.activity_informations.age|capfirst }} tahun </p>
									                {% endif %}
									                {% endwith %}
                                                </div>
                                                <div class="course-view d-flex align-items-center">
                                                    <img src="{% static 'assets/img/icon/icon-02.svg' %}" alt="">
                                                    <p>{{ item.activity.activity_informations.duration }} menit</p>
                                                </div>
                                            </div>
                                            {% comment %} <div class="rating">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star"></i>
                                                <span class="d-inline-block average-rating"><span>4.0</span> (15)</span>
                                            </div> {% endcomment %}
                                            <div class="all-btn all-category d-flex align-items-center">
                                                <a href="{% url 'class_detail' id=item.activity.activity_id activity_name=item.activity.activity_name|slugify %}" class="btn btn-primary">Daftar Sekarang</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Recommended Activity -->
</section>
<!-- /Activity -->

<script>
    function chat_to_admin(event) {    
        var url = "{% url 'app.member:chat_to_admin' %}";
        window.open(url, '_blank');
    }
</script>
{% endblock %}