.font-skills {
    color: var(--primary);
}

.class-icon {
    width: 1.5em;
    height: auto;
}

.dropdown-item.active {
    color: var(--primary);
}

.avatar-profile {
    width: 3rem;
    border-radius: 50%;
}

.vertical-line {
    border-left: 1px solid #000;
    height: 40px;
    margin: 0 20px;
}